/********************Colors*************************/
$light-blue: #55bce9;
$green-blue : #27b1d2;
$dark-green-blue: #0a7088;

$purple: #7370b5;

$white: #ffffff;

$gray: #a5a5a5;
$dark-gray: #323232;
$lightest-gray: #fafafa;

/********************Font Families*************************/
$roboto-family: "Roboto", Helvetica, sans-serif;
$opensans-family: "Open Sans", Helvetica, sans-serif;

$x-small-bp: 480px;
$small-bp : 768px;
$medium-bp: 992px;
$large-bp: 1200px;