<section id="top-line" class="grey-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center text-md-left">
                <div class="social">
                    <a class="facebook" href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a class="twitter" href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a class="google-plus" href="#" title="Google+"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
            <div class="col-md-9 text-center text-md-right">
                <span>
                    <i class="fa fa-map-marker highlight"></i>17 Traian Vuia, Buzau
                </span>
                <span>
                    <i class="fa fa-phone highlight"></i>0755 932 072
                </span>
                <span>
                    <i class="fa fa-envelope-o highlight"></i>office@dental.com
                </span>
            </div>
        </div>
    </div>
</section>
<div id="header-wrapper">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-12">
                    <a href="#" class="logo">
                        <img src="{{logoSrc}}" alt="{{logoAlt}}">
                        iDental
                    </a>
                </div>
                <div class="col-lg-9 col-md-8 text-right">
                    <a href="#" class="btn-menu"><span></span></a>
                    <nav class="nav">
                        <ul id="mainmenu" class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Home</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>

